<section class="section" id="features">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
              <div class="title text-center mb-5">
                  <h3 class="font-weight-bold text-dark">Our <span class="text-primary">Features</span></h3>
                  <p class="text-muted">Getting everthing at your fingertips</p>
              </div>
          </div>
      </div>

      <!-- <div class="row">
          <div class="col-lg-4 col-md-6" *ngFor="let card of cards">
              <div class="service-box service-warning">
                  <div class="mb-5">
                      <i class="{{card.icon}} service-icon"></i>
                  </div>
                  <h5 class="service-title text-dark font-weight-bold pt-1 mb-4">{{ card.title }}</h5>
                  <p class="text-muted service-subtitle mb-4">{{ card.description }}</p>
                  <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
              </div>
          </div>
      </div> -->
      <!-- <div class="row justify-content-center">
        <div class="video-container">
          <iframe style="display: block; margin: auto;" width="480" height="270" src="https://www.youtube-nocookie.com/embed/IAoEWp_W6kQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div> -->
      <!-- <div class="row mb-2" *ngFor="let card of cards">
        <div class="col-md-6 d-flex align-items-center">
            <div class="mx-auto">
                <p class="text-center font-weight-bold text-dark">{{ card.title }}</p>
                <p class="text-center">{{ card.description }}</p>
              </div>
        </div>
        <div class="col-md-6">
          <img src="https://via.placeholder.com/400x500" alt="Image" class="img-fluid">
        </div>
        
      </div> -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <img src="https://via.placeholder.com/400x500" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div class="mx-auto">
            <h4 class="text-center font-weight-bold text-primary">Fan Info and Fan spend tab</h4>
            <p class="text-center">See which fans spent the most in the chat overview, along with a breakdown on how they spent. This allows you to focus on the high spenders, and avoid freeloaders.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 d-flex align-items-center">
          <div class="mx-auto">
            <h4 class="text-center font-weight-bold text-primary">Autofollow Expired followers to send PPV</h4>
            <p class="text-center">Auto Follow your expired fans with 1 click, allowing you send PPV to them. Most top 1 percent of creators send PPV to their expired fans, allowing you to earn 20-30 percent more monthly income. Usually, 5-10 percent of expired fans will also resubscribe, just because you started following them.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="https://via.placeholder.com/400x500" alt="Image" class="img-fluid">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <img src="https://via.placeholder.com/400x500" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div class="mx-auto">
            <h4 class="text-center font-weight-bold text-primary">Vault Labelling</h4>
            <p class="text-center">Easily view which media has already been sent to your fan, to avoid sending repeats.
            </p>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- Feature end -->
