
/* @media only screen and (max-width: 600px) {
  .video-container {
    overflow: hidden;
    position: relative;
    width:100%;
  }
  .video-container::after {
    padding-bottom: 56.25%;
    display: block;
    content: '';
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
} */

#fanInfo {
  padding-top: 30px;
  padding-left: 150px;
}

#autoFollow {
  padding-left: 130px;
  padding-top: 70px;
}

#vault {
  padding-left: 100px;
  /* height: 400px; */
}

#vault-inner {
  padding-top: 30px;
  padding-bottom: 30px;
}