


<div class="separator">
    <div class="line"></div>
    <h2 style="font-family: cormorant;">FAQs</h2>
    <div class="line"></div>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What is Ecuisine?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How does it work?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Well it's as simple as you order your favorite pizza. <br> You just select a subscription plan, fill your informations what we need to ask. As soon as we verify you as a valid user, we
       send the fully ready account with which you can manage your place. You will have a profile, a bunch of QRs and a dashboard from where you can customize your menu stuff as many times which will
      get reflected same to your customer. An order handling page will be available where you can handle the requests like accepting the order, cancelations of order, controlling the status of the order. </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What are the benefits?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item> Well, safety comes first so a contactless food ordering service system is our priority feature. </mat-list-item>
      <mat-list-item> Now, customer don't have to wait in queue to order. </mat-list-item>
      <mat-list-item> Multiple orders can be initiated at once and can be handled very carefully. </mat-list-item>
      <mat-list-item> Foodies can search their favorite items very easily in digital menus, put along all orders in a cart, do the payment and done, order on the table. </mat-list-item>
      <mat-list-item> No more wasting money on printing menus, more employees, additional managing software, foods which your customers not liking. </mat-list-item>
      <mat-list-item> Customers are so psychologically tied to coupons and offers and discounts, which will become very easy to provide using a digital menu. </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What features do you get out of the box?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel> -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How much time does it take to set up?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>It just takes 3 to 4 working days from getting registered on our website to getting all things out of the box.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What role does it play in the current pandemic?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>COVID-19 is impacting every industry and nearly all facets of everyday life, and many states and 
      cities are implementing new social distancing guidelines for operations, including the restriction of dining-in at restaurants, and a shift to pick up and delivery models. Going contactless at quick-service restaurants
       (QSRs) in the past decade typically referred to adopting mobile payment options. While COVID-19 has increased demand for delivery and pick-up, restaurants were already looking
       to optimize the order-to-fulfillment process. Now, the crisis has forced restaurants to expand their view of “contactless” and how it relates to every aspect of the customer experience.</p>
  </mat-expansion-panel>
</mat-accordion>

