<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark navbar-light"
  (window:scroll)="windowScroll()" id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a href="#" class="navbar-brand logo">
      <img src="assets/ofcreatortoolblack.png" alt="ECUISINE" class="logo-light rounded" height="40">
      <img src="assets/ofcreatortoolblack.png" alt="ECUISINE" class="logo-dark rounded" height="40">
    </a>
    <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        <li class="nav-item">
          <a [ngxScrollTo]="'#home'" href="javascript: void(0);" class="nav-link"></a>
        </li>
      </ul>
      <div class="">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/ofcreator-tools/mpajbhniolemnclhffhepggeaokdamkp" class="btn btn-primary font-weight-bold">Get Extenstion</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar end -->

<div class="container">
  <div class="row justify-content-center align-items-center pt-5 mt-5">
    <div class="col-md-8 col-md-offset-2">
      <form name="tandc" ng-submit="approveTandC()">
        <div style="text-align:center;">
          <h3>TERMS OF SERVICES</h3>
          <br>
          <h6 style="text-align:left">PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY, AS IT CONTAINS IMPORTANT
            INFORMATION REGARDING YOUR LEGAL RIGHTS AND REMEDIES.</h6>
          <br>
          <p>
            Last Revised: 2023-03-28 18:45:00
          </p>
          <br>
          <p>
            The OfCreatorTools Extension, or any related plug-in, console, extension or software (the “App”), is the sole property of CODE RUSTLERS, an Indian company, GST IN 27BOYPA7883Q1ZN.
          </p>
          <br>
          <p class="font-weight-bold">
            Acceptance of Terms
          </p>
          <p>
            1. The use of the App is subject to these terms of use (the “Terms of Use”), to Google Chrome Web Store terms of use and to our Privacy Policy www.ofcreatortools.com/privacy, which forms an integral part thereof. Re-accessing and/or using the App and any of its contents, as updated from time to time, indicates that you have read and understood these Terms of Use and that you have received, accept, consent to, and approve its contents. If you do not agree to these Terms of Use, do not use the App.
          </p>
          <p>
            2. These Terms of Use will apply to any use made by you, our client, which may either the user of the App, the profile owner or an agent thereof acting on their behalf. These Terms form a legally binding contract between you or anyone using the App on your behalf and the Company. Without derogating from the foregoing, any use of the App is subject to these Terms of Use and any and all applicable laws, rules and regulations in the country in which the App is being used. The responsibility to read, understand and comply with such applicable law is at your full responsibility as a user.
          </p>
          <p class="font-weight-bold">
            1. The App
          </p>
          <p>
            Code Rustlers's App provide users data that allow users to easily plan, build, optimize, control, and scale their platform profiles to their needs in connection with social media networks.
          </p>
          <p>
            1. App's Content
          </p>
          <p>
            1. ALL CONTENT AVAILABLE ON OR THROUGH THE APP IS PROVIDED ON AN “AS IS” BASIS, WITH ALL FAULTS, AND CODE RUSTLERS AND ANY RELATED ENTITIES, DO NOT MAKE AND FULLY DISCLAIM ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER REGARDING THE APP AND/OR THE CONTENT, ORALLY OR IN WRITING, EXPRESS OR IMPLIED, WHETHER IMPLIED BY THE LAW OR OTHERWISE DERIVED FROM IT, PROCEDURE OR PRACTICE, TO THE MAXIMUM EXTENT PERMITTED BY LAW, INCLUDING ANY REPRESENTATION THAT USE OF THE APP WILL BE INTERFERENCE OR ERROR-FREE, OR WITH REGARD TO THE MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, RELIABILITY, OR ACCURACY OF THE CONTENT, NON-INFRINGEMENT OR ANY OTHER VIOLATION.
          </p>
          <p>
            2. CODE RUSTLERS ​​IS NOT AND WILL NOT BE LIABLE FOR ANY USE OF THE APP OR ITS CONTENT OR RELIANCE ON THEM, AND BEARS NO LIABILITY FOR THE CONTENT, ITS CORRECTNESS AND/OR FOR ANY USE THAT IS MADE OF IT. THE CONTENT IS GENERAL IN NATURE, IT IS NOT A SUBSTITUTE FOR PROFESSIONAL CONSULTATION OF ANY TYPE, AND USERS SHOULD NOT RELY ON ADVICE RECEIVED THROUGH THE APP FOR THE PURPOSE OF MAKING ANY DECISION IN ANY AREA.
          </p>
          <p>
            3. Code Rustlers is entitled to make changes or updates to the content or portions of it, at any time and without prior notice. The content may be out of date, and Code Rustlers does not undertake to update it at all or with any frequency, and it should not be relied upon as being up to date. The images on the App are for illustrative purposes only and are not binding in any manner. Any reliance on the content and/or the advice you receive through the App shall be at your full and sole responsibility, and you will bear full responsibility for your use of the App and/or its contents, and the outcome of such use.
          </p>
          <br>
          <p class="font-weight-bold">
            Ownership of App and Content
          </p>
          <p>
            1. The Services (and all parts thereof), all reproductions, corrections, modifications, enhancements and improvements thereto, and all data related to your usage thereof, and all Intellectual Property Rights therein or relating thereto, including but not limited to, any modifications or custom features to the Services to be developed by us for your benefit, whether you have requested or instructed or not, are and will remain our exclusive property or our third party licensors. Any rights therein not explicitly granted you hereunder, are reserved to and shall remain solely and exclusively proprietary to us (or our third party licensors).
          </p>
          <p>
            For the purpose hereof, “Intellectual Property Rights” means any patent rights (including, without limitation, patent applications and disclosures), service marks, logos, domain names, copyrights, trademarks, trade secrets, moral rights, know-how, and any other intellectual property rights recognized in any country or jurisdiction in the world whether registered or non-registered.
          </p>
          <p>
            1. Any error and bug reports, additional features, ideas, requests, feedback, recommendations, comments, concepts and other requests or suggestions related to the Services (collectively, the “Ideas”) that you may provide us be solely owned by us. You hereby irrevocably assign and transfers any intellectual property rights in such ideas to us, free of charge.
          </p>
          <p>
            2. We hereby grant you a limited, revocable, non-sublicensable license to use our App to which you have properly gained access, for purposes of receiving our Services, but only for your own personal, non-commercial use (unless you posted the content), and only if you do not modify, make copies of, publish, transmit, distribute, rent, lease, loan, participate in the transfer or sale of, provide others with any portion of, reproduce, duplicate, create new or derivative works from, distribute, perform, or display the content, in whole or in part, including commercial use.
          </p>
          <p>
            3. You hereby grant us an authorization to use any data owned or controlled by you, to be collected and processed by our App, to enable the provision of our Services.
          </p>

          <br>

          <p class="font-weight-bold">Online Registration and Account Information</p>
          <ul>
            <li>
              <p>The information you provide when you register for the App will be stored in the database of the App. The Company’s use of the information about you will be governed by the Company’s Privacy Policy www.ofcreatortools.com/privacy.</p>
            </li>
            <li>
              <p>The Company reserves the right to take any action as it deems appropriate and in its sole discretion to ensure the security of the App, including without limitation, requesting further details.</p>
            </li>
            <li>
              <p>The Company has the right to prevent your access to the App and immediately remove any content submitted by you.</p>
            </li>
          </ul>

          <br>

          <p class="font-weight-bold">
            Limited Liability
          </p>
          <p>
            1. Code Rustlers, its managers, directors, officers, employees, shareholders, suppliers, agents, representatives, other third parties and/or the heirs of the above and/or those replacing them: (a) are hereby fully, completely, and unconditionally exempt from any and all obligation and are not responsible for any part of the content on the App, including but not limited to third-party content, software, or any other part used in connection with the App or contained therein, being complete, accurate, updated, timely, secure, interruption or error-free, or that defects will be corrected, or for any decision you make based on anything contained or accessible through the App.
          </p>
          <p>
            2. You bear sole responsibility for any damages and claims in this respect, and you can immediately stop using the App, its content and/or the products and Services provided through the App; (b) notwithstanding anything said anywhere else, there is no responsibility toward you and/or toward any third party in connection with the App and/or its content and/or Services and/or products provided in connection with the App and/or the download of the app through Google Chrome Web Store, for any special, incidental, indirect, consequential and/or economic damages whatsoever, including but not limited to loss of income, documents, files, profit, goodwill, data and/or computer time, recovery of programs and/or purchase of alternative goods or Services, the costs of downtime and/or third party claims, etc., even if informed of the possibility of such damages. Notwithstanding anything to the contrary, discontinue using the App or its content is your sole remedy.
          </p>
          <p>
            3. Content submitted to the social medias in connection with the App or by the users using the App, is not under the control of the Company and therefore the Company will not be held liable for them, including with respect to their content, reliability, accuracy, and to any harm, inconvenience, loss or distress caused to you, directly or indirectly, as a result of the use of the content.
          </p>
          <p>
            4. User Content submitted to the Website is not under the control of the Company and therefore the Company will not be held liable for them, including with respect to their content, reliability, accuracy, and to any harm, inconvenience, loss or distress caused to you, directly or indirectly, as a result of the use of the User Content.
          </p>
          <p>
            5. If any provision of these Terms of Use is held to be invalid or unenforceable for any reason, this shall not affect the remaining provisions.
          </p>
          <p>
            6. The App may contain links to other websites, materials and Services that are not under our control (“Third-Party Materials”). The inclusion of any link is provided solely as a convenience to you and does not imply any endorsement by us of such Third-Party Materials and we are not responsible for the content or functionality of any Third-Party Materials.
          </p>
          <br>

          <p class="font-weight-bold">Indemnification</p>
          <p>To the maximum extent permitted by any applicable law, you agree to indemnify, defend and hold, Code Rustlers and its affiliates, and anyone acting on their behalf, harmless, at your own expense and immediately after receiving a written notice thereof, from and against any damages, losses, demands, costs, liabilities, damages and expenses, including attorney’s fees, legal expenses and expert fees and other costs of litigation, resulting or arising from, incurred as a result of or in any manner related to your breach of these Terms of Use or any other use by you of the App on violation of any applicable law.</p>

          <br>

          <p class="font-weight-bold">Governing Law</p>
          <p>You agree that the laws of India, excluding its conflicts-of-law rules, shall govern these Terms of Use. You expressly agree that the exclusive jurisdiction for any claim or dispute with Code Rustlers or relating in any way to your use of the App resides solely in the competent courts in the city of Mumbai, India.</p>
          <br>

          <p class="font-weight-bold">1.Minors</p>
          <p>This App and/or services of the Company are not intended for use by minors. If it is brought to our attention that a person under the age of eighteen (18) years makes use of our App and/or Services, we reserve the right to prevent his/her access to the App.</p>

          <br>

          <p class="font-weight-bold">
            Changes
          </p>
          <p>
            1. Changes to the Terms of Use: Subject to the provisions of applicable law, we may, in our sole discretion and without prior notice, revise and update these Terms of Use at any time. In an event in which material modifications are made, we shall provide notice of such changes by posting or distributing a notice of such revisions, which shall be effective immediately upon distribution. Your continued use of the App after the amended Terms of Use have entered into effect will constitute your acceptance of them. If any future changes to the Terms of Use are unacceptable to you or cause you to no longer be in compliance, you must immediately stop using the App.
          </p>
          <p>
            2. Changes to the App: The Company may, in its sole discretion, at any time, in any way and for any reason, update or delete the App (in whole or in part); In addition, the Company may, in its sole discretion, at any time, in any way and for any reason, prevent access to the App (in whole or in part) and/or allow access to certain areas of the App to certain subscribers only. The Company shall not be liable to you and/or to any third party for any such modification or removal (in whole or in part) of the App. To the extent that you oppose to any changes made by the Company or its right to make such changes, you are requested to refrain from making any use of the App. Your continued use of the App after such changes entered into effect will constitute your acceptance of them.
          </p>
          <br>
          <p class="font-weight-bold">Disclaimer</p>
          <p>To the extent our Services will be benefited by profile owners at the OnlyFans platform, it is hereby acknowledged that OnlyFans is a registered trademark of Fenix International Limited. This App is not affiliated with, sponsored, or endorsed by Fenix International Limited.</p>
          <br>
          <p class="font-weight-bold">Contact Information</p>
          <p>
            If you have questions or concerns regarding these Terms of Use, please contact us at: support@ofcreatortools.com.
          </p>
          
        </div>
      </form>
    </div>
    <a class="btn" [routerLink]="['/']" routerLinkActive="router-link-active">Go Back</a>
  </div>
</div>
