/* .icon-custom .mdi{ */
/* padding: 5px; */
/* font-size: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
} */

.follow-social-list a {
  border: 1px solid lighten(#333,15%);
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  line-height: 38px;
  text-align: center;
  color: lighten(#333,50%);
  font-size: 18px;
  transition: all 0.3s;
}

.follow-social-list a:hover {
  background: #ff8057;
  color: #ffffff;
  border-color: #ff8057;
  box-shadow: 0 0 2px 7px rgba(#ff8057, 0.15);
}
