<div class="snip1214" id="middle">
    <div class="plan">
      <h3 class="plan-title">
        Starter
      </h3>
      <div class="plan-cost"><span class="plan-price">1999</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited QR Generator</li>
        <li><i class="ion-checkmark"> </i>Unlimited Order</li>
        <li><i class="ion-checkmark"> </i>Endless item Add</li>
        <li><i class="ion-checkmark"> </i>Unlimited Free Updates</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan">
      <h3 class="plan-title">
        Basic
      </h3>
      <div class="plan-cost"><span class="plan-price">3999</span><span class="plan-type">/ 3 Month</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited QR Generator</li>
        <li><i class="ion-checkmark"> </i>Unlimited Order</li>
        <li><i class="ion-checkmark"> </i>Endless item Add</li>
        <li><i class="ion-checkmark"> </i>Unlimited Free Updates</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan featured">
      <h3 class="plan-title">
        Professional
      </h3>
      <div class="plan-cost"><span class="plan-price">5999</span><span class="plan-type">/ 6 Month</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited QR Generator</li>
        <li><i class="ion-checkmark"> </i>Unlimited Order</li>
        <li><i class="ion-checkmark"> </i>Endless item Add</li>
        <li><i class="ion-checkmark"> </i>Unlimited Free Updates</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
    <div class="plan">
      <h3 class="plan-title">
        Ultra
      </h3>
      <div class="plan-cost"><span class="plan-price">9999</span><span class="plan-type">/ Year</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>Unlimited QR Generator</li>
        <li><i class="ion-checkmark"> </i>Unlimited Order</li>
        <li><i class="ion-checkmark"> </i>Endless items Add</li>
        <li><i class="ion-checkmark"> </i>Unlimited Free Updates</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <div class="plan-select"><a href="">Select Plan</a></div>
    </div>
  </div>