.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

section {
    display: table;
    margin: auto;
    text-align: center;
}
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 42px 8px 8px 0px;
  }